body {
    background: linear-gradient(rgb(255, 151, 151), rgb(255, 230, 250));
    background-size: cover;
    background-repeat: no-repeat;
    width: 1508px;
    margin: 0 auto;
    
  }

  
  .retour {
    position: absolute;
    bottom: 1px;
  }


  .stage {
      position: relative;
      left: 500px;
      bottom: 145px;
  }