body {
    width: 1508px;
    margin: 0 auto;
    
  }

  .diaz {
      position: relative;
      width: 50%;
  }

  

.textediaz {
    position: absolute;
    text-align: center;
     color: transparent; 
    transition: all 1s ease-out;
    top: -5%;
    padding: 21% 32.5%;
}

.diaz:hover .textediaz {
  color: white;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.6);
}




.hacker {
    position: relative;
    width: 50%;
}



.textehacker {
  position: absolute;
  text-align: center;
   color: transparent; 
  transition: all 1s ease-out;
  top: -5%;
  padding: 21% 32.5%;
}

.hacker:hover .textehacker {
color: white;
opacity: 1;
background-color: rgba(0, 0, 0, 0.6);
}