<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/loisirs.css">
</head>
<body>
    <h1>bienvenue sur la page loisirs</h1>
<div class="texte">
   

   
    
    <img class="mma" src="../img/mma.gif" alt="">

    <img class="gamer" src="../img/gamer.gif" alt="">

    
 <p>Sur cette page, je vais vous décrire les quelques loisirs /hobbies que j'aime pratiquer régulièrement. 
     Premièrement, j'aime le sport notamment les sports de combat tous particulièrement le grappling et le mma que je pratique depuis 1 an maintenant,
      deuxièmement, je joue beaucoup eu jeu vidéo pendant mon temps libre, je joue au jeu depuis petit 
      et enfin l'informatique, c'est autant un plaisir/ loisir que le métier que je veux pratiquer plus tard dans le pentest.
    </p>
  

</div>

<div>

  <a href="../view/présentation.html"> <img class="retour" src="../img/retour.jpg" alt=""></a> 
</div>



</body>
</html>