<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/compétence.css">
</head>
<body>
    <h2>mes compétences</h2>
    <ul>
        <li>Français (langue natale)</li>
        <li>Anglais 6.5/10</li>
        <li>css 4/10</li>
        <li>html 6/10</li>
        <li>java (pas vue)</li>
        <li>cybersécurité (9/10)</li>
        <li>travail d'équipe (9/10)</li>
        
    </ul>
    <a href="../view/présentation.html"><img class="retour" src="../img/retour.jpg" alt=""></a>
</body>
</html>