<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/parcour.css">
</head>
<body>
    <h3>Mon parcour scolaire</h3>
    <h2>mes diplômes</h2>
    <ul>
        <li>brevet</li>
        <li>B.E.P</li>
        <li>bac pro MEI</li>
        <li>B.T.S S.I.O (en cours)</li>
     </ul>
<div class="stage">
     <h2>mes stages</h2>
     <ul>
         <li>stage de découverte en boulangerie</li>
         <li>stage de 2 mois dans la maintenance en hopital</li>
         <li>stage de 2 mois en entreprise dans la maintenance</li>
         <li>stage de 2 mois dans la maintenance en hopital </li>
         <li>stage de 2 mois dans la maintenance en hopital</li>
     </ul>
    </div>
    <a href="../view/présentation.html"><img class="retour" src="../img/retour.jpg" alt=""></a>
    
</body>
</html>