<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page présentation</title>
    <link rel="stylesheet" href="../public/présentation.css">
</head>
<body>
  
<div class="présentation"> 
    <p>Salut bienvenue sur mon portfolio cliqué sur une des images pour avoir plus d'infos sur moi </p>
    
</div>

<div>
    <img src="C:\wamp64\www\portfolio\img\annés80goodvibes.jpg" alt="">
</div>

<div>
    <img src="C:\wamp64\www\portfolio\img\montagesoleil.jpg" alt="">
</div>


<div>
    <img src="" alt="">
</div>

<div>
    <img src="" alt="">
</div>

<div>
    <img src="" alt="">
</div>






















<div class="réseau"> 
    <h3>mes réseau</h3>
    <a class="link" href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile">linkdin</a>
    <p class="mail">mail:marcel.maxime@free.fr</p>
</div>









</body>


</html>