<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page présentation</title>
    <link rel="stylesheet" href="../public/présentation.css">
</head>
<body>
  
<div class="présentation"> 
    <h1 class="paraph">Salut je m'appelle maxime bienvenue sur mon portfolio vous pouvez cliquez sur une des images pour avoir plus d'infos sur moi </h1>
    
</div>





<div class="cyber">
    <a href="C:\wamp64\www\portfolio\view\mescompétences.html"><img class="imagecyber" src="C:\wamp64\www\portfolio\img\compétence.jpg" alt="">
    <h1 class="textecyber">Mes compétences</h1></a>
</div>
<div class="infos">
    <a  href="C:\wamp64\www\portfolio\view\infosperso.html"><img class="imageinfos" src="C:\wamp64\www\portfolio\img\hacker.jpg" alt="">
    <h1 class="texteinfos">infos personnelles</h1></a>
</div>

<div class="formation">
    <a href="C:\wamp64\www\portfolio\view\monparcour.html"><img class="imageformation" src="C:\wamp64\www\portfolio\img\formation.jpg" alt="">
    <h1 class="texteformation">Mon parcours</h1></a>
</div>

<div class="diaz">
    <a  href="C:\wamp64\www\portfolio\view\loisirs.html"><img class="imagediaz" src="C:\wamp64\www\portfolio\img\nate-diaz.jpg" alt="">
    <h1 class="textediaz">Mes loisirs</h1></a>
</div>













</body>


</html>