<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page présentation</title>
    <link rel="stylesheet" href="../public/présentation.css">
</head>
<body>
  
<div class="présentation"> 
    <p>Salut bienvenue sur mon portfolio cliqué sur une des images pour avoir plus d'infos sur moi </p>
    
</div>




<div class="cyber">
    <a href="C:\wamp64\www\portfolio\view\mescompétences.html"><img src="C:\wamp64\www\portfolio\img\compétence.jpg" alt=""></a>
    <h1 class="textecyber">Mes compétences</h1>
</div>

<div class="formation">
    <a href="C:\wamp64\www\portfolio\view\monparcour.html"><img src="C:\wamp64\www\portfolio\img\formation.jpg" alt=""></a>
    <h1 class="texteformation">Mon parcours</h1>
</div>

<div class="diaz">
    <a class="imagediaz" href="C:\wamp64\www\portfolio\view\loisirs.html"><img src="C:\wamp64\www\portfolio\img\nate-diaz.jpg" alt="">
    <h1 class="textediaz">Mes loisirs</h1></a>
</div>

<div class="hacker">
    <a class="imagehacker" href="C:\wamp64\www\portfolio\view\infosperso.html"><img src="C:\wamp64\www\portfolio\img\hacker.jpg" alt=""></a>
    <h1 class="textehack">infos personnelles</h1>
</div>




<div class="réseau"> 
    <h3>mes réseau</h3>
    <a class="link" href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile">linkdin</a>
    <p class="mail">mail:marcel.maxime@free.fr</p>
</div>









</body>


</html>